<!doctype html>

<html>
    <head>
        <title>Web Hitster - Home</title>
        <link rel="stylesheet" href="static/css/style.css">  
    </head>

    <body>
        <h1>Web Hitster</h1>
        {% if current_song %}
        <p>Current song: {{ current_song }}</p>
        {% else %}
        <p>No song playing</p>
        {% endif %}
        <p>
            <form action="{{ url_for('index') }}">
                {{ form.hidden_tag() }}
                {{ form.submit(value="Refresh") }}
            </form>
        </p>
    </body>
</html>